<!DOCTYPE html>
<html>
<head>
    <title><?=$this->siteName?> | <?=$this->pageTitle?></title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body class="home blog woocommerce dokan-theme-dokan">
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
        <a href="/" class="navbar-brand"><img src="/img/logo.svg" class="cinema-logo__small">Cinema</a>
    </div>
</nav>
<main id="main" class="site-main main">
    <section class="content">
        <div class="container">
            <h1 class="display-4 text-bold">
                <strong>Cinema</strong> - информационный ресурс для поиска и хранения данных о фильмах.
            </h1>
            <form class="form-row" action="/films/search" method="get">
                <div class="form-group col-md-2">
                    <select id="inputState" class="form-control" name="by">
                        <option <?php echo (isset($_GET['by']) && $_GET['by'] === 'film') ? 'selected' : '';?> selected value="film">Фильм</option>
                        <option <?php echo (isset($_GET['by']) && $_GET['by'] === 'actor') ? 'selected' : '';?> value="actor">Актер</option>
                    </select>
                </div>
                <div class="form-group col-md-8">
                    <input type="text" class="form-control" id="inputSearch" name="what" placeholder="Поиск" autocomplete="off"
                    value="<?php echo (!empty($_GET['what'])) ? $_GET['what'] : '';?>"
                    >
                </div>
                <div class="form-group col-md-2">
                    <button type="submit" class="btn btn-primary col-md-12">Найти</button>
                </div>
            </form>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="nav flex-column nav-pills col-md-2" id="v-pills-tab" role="tablist"
                     aria-orientation="vertical">
                    <a class="nav-link" id="v-pills-home-tab" data-toggle="pill" href="/films/add" role="tab"
                       aria-controls="v-pills-home" aria-selected="true">Добавить фильм</a>
                    <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="/films/import" role="tab"
                       aria-controls="v-pills-messages" aria-selected="false">Ипортировать фильмы</a>
                </div>
                <div class="col-md-10">
                    <?php if( App\Cinema\Lib\Session::hasFlash() ) {?>
                    <div class="alert alert-info" role="alert">
                        <?php App\Cinema\Lib\Session::flash(); ?>
                    </div>
                    <?php } ?>
                    <?=$data['content']?>
                </div>
            </div>
        </div>
    </section>
    <script>
        $(document).ready(function () {
            $(document).pjax('a', '#pjax-container');
        });
        $('#v-pills-tab a').on('click', function (e) {
            e.preventDefault()
            $(this).tab('show')
        });
    </script>
    <script src="/js/jquery.pjax.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>
