<form id="addFilm" method="post">
    <div class="form-group">
        <label for="title">Название</label>
        <input type="text" class="form-control" name="title" id="title">
    </div>
    <div class="form-group">
        <label for="release">Год выпуска</label>
        <input type="text" class="form-control" name="release" id="release">
    </div>
    <div class="form-group">
        <label for="format">Формат</label>
        <select class="form-control" name="format" id="format">
            <option value="VHS">VHS</option>
            <option value="DVD">DVD</option>
            <option value="Blu-Ray">Blu-Ray</option>
        </select>
    </div>
    <div class="form-row">
        <div class="form-group col-md-5">
            <label for="name">Имя и фамилия актера</label>
            <input type="text" class="form-control" name="name[]" id="name">
        </div>
        <div class="form-group col-md-2">
            <label for="remove">Удалить</label>
            <button type="button" class="btn btn-primary col-md-12" id="remove" onclick="return removeField(this);">-
            </button>
        </div>
    </div>
        <button type="button" class="btn btn-primary col-md-12 btn-block" id="add" onclick="return addField(this);">Добавить еще
            актера
        </button>
        <button type="submit" class="btn btn-success col-md-12 btn-lg btn-block">Сохранить</button>
</form>

<script>
    function removeField(element) {
        let field = element.parentElement.parentElement;
        field.remove();
    }

    function addField(element) {
        let field = "<div class=\"form-row\">\n" +
            "        <div class=\"form-group col-md-5\">\n" +
            "            <label for=\"name\">Имя актера</label>\n" +
            "            <input type=\"text\" class=\"form-control\" name=\"name[]\" id=\"name\">\n" +
            "        </div>\n" +
            "        <div class=\"form-group col-md-2\">\n" +
            "            <label for=\"remove\">Удалить</label>\n" +
            "            <button type=\"button\" class=\"btn btn-primary col-md-12\" id=\"remove\" onclick=\"return removeField(this);\">-</button>\n" +
            "        </div>\n" +
            "    </div>";
        element.insertAdjacentHTML('beforeBegin', field);
    }
</script>