<?php if ($data['films']): ?>
    <a href="/films/index?page=<?=$data['currentPage']?>&order=ASC">Отсортирвоать в алфавитном порядке</a>
<?php endif; ?>
<br>
<?php if (!empty($data['films'])): ?>

<?php foreach ($data['films'] as $film): ?>
    <div class="text-xl-left"></div>
    <a href="/films/view?id=<?=$film['id']?>">
        <?=$film['title']?> (<?=$film['release']?>)
    </a>
<?php endforeach; ?>
<?php else: ?>
    <p>Фильмов не найдено...</p>
<?php endif; ?>


<?php if ($data['films']): ?>
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <?php foreach ($data['button']->buttons as $button): ?>
        <?php if ($button->isActive) : ?>
        <li class="page-item active">
            <a class="page-link"
               href="/films/index?page=<?=$button->page?><?php echo(isset($_GET['order'])) ? '&order=ASC' : ' ';?>">
                <?=$button->text?>
            </a>
        </li>
        <?php else: ?>
        <li class="page-item">
            <a class="page-link"
               href="/films/index?page<?=$button->page?><?php echo (isset($_GET['order'])) ? '&order=ASC' : ' ';?>">
                <?=$button->text?>
            </a>
        </li>
        <?php endif; ?>
        <?php endforeach; ?>
    </ul>
</nav>
<?php endif; ?>